name: Backup Supabase Live

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - name: Installer PostgreSQL 17
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg2
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -cs)-pgdg main" | sudo tee /etc/apt/sources.list.d/pgdg.list
          sudo apt-get update
          sudo apt-get install -y postgresql-client-17

      - name: Run dump
        run: |
          /usr/lib/postgresql/17/bin/pg_dump "${{ secrets.DB_URL }}" --no-owner --no-privileges > backup.sql

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mon-backup-db
          path: backup.sql
          retention-days: 30
