name: Backup de ma base Supabase

on:
  schedule:
    - cron: '0 3 * * *' # S'exécute toutes les nuits à 3h du matin
  workflow_dispatch: # Permet de lancer le backup manuellement pour tester

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - name: Installer l'outil PostgreSQL
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Faire le backup (pg_dump)
        run: |
          pg_dump "${{ secrets.DB_URL }}" > backup_db.sql

      - name: Sauvegarder le fichier dans GitHub
        uses: actions/upload-artifact@v4
        with:
          name: backup-sql-du-${{ github.event.repository.updated_at }}
          path: backup_db.sql
          retention-days: 30 # Garde les fichiers pendant 30 jours